@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Weights: 500, 800 */

*{
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    /* Font size (paragraph): 16px */

}
:root{
    /* colors */
    --yelloy-primary: hsl(47, 88%, 63%);
    --white-neutral: hsl(0, 0%, 100%);
    --grey-neutral: hsl(0, 0%, 50%);
    --black-neutral: hsl(0, 0%, 7%);
    --font-family: 'Figtree', sans-serif;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yelloy-primary);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--white-neutral);
    width: 384px;
    height: 522px;
    border-radius: 20px;  
    border: 1px solid var(--black-neutral);  
    filter: drop-shadow(8px 8px 0px var(--black-neutral));
}
.image{
    width: 336px;
    height: 200px;
    margin: 24px;
    align-self: center;
    border-radius: 10px;
}
.content{
    margin-left: 24px;
    width: 336px;
    height: 248px;
    display: flex;
    flex-direction: column;
}
.container-learning{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    border-radius: 4px;
    margin-bottom: 12px;
    background-color: var(--yelloy-primary);
    padding: 4px 12px 4px 12px;
}

.container-learning h2{
    font-size: 1rem;
    font-weight: 900;
    color: var(--black-neutral);
    font-family: var(--font-family);
}
.content .published{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}
.content .title{
    font-weight: 900;
    font-size: 24px;
    font-family: var(--font-family);
    margin-bottom: 12px;
}
.content .describe{
    line-height: 1.5rem;
    color: var(--grey-neutral);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
    margin-bottom: 12px;
}
.autor{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 32px;
}
.autor .picture-profile{
    width: 32px;
    height: 32px;
}
.autor .name{
    width: auto;
    margin-left: 12px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 900;
    align-self: center;
}